@font-face {
    font-family: 'fontBlack';
    src: url(../properti/font/MavenPro-Black.ttf);
}

@font-face {
    font-family: 'boldFont';
    src: url(../properti/font/MavenPro-Bold.ttf);
}

@font-face {
    font-family: 'exboldFont';
    src: url(../properti/font/MavenPro-ExtraBold.ttf);
}

@font-face {
    font-family: 'mediumFont';
    src: url(../properti/font/MavenPro-Medium.ttf);
}

@font-face {
    font-family: 'stdFont';
    src: url(../properti/font/MavenPro-Regular.ttf);
}

@font-face {
    font-family: 'subtitleFont';
    src: url(../properti/font/MavenPro-SemiBold.ttf);
}

:root{
    --std: #F5F9FF;
    --putih: #fff;
    --abu: #444444;
    --f5: #f5f5f5;
    --danger: #bd002c;
    --warning: #e0b000;
    --success: #00e05d;
}

* {
    font-family: 'stdFont';
    font-size: 1.05rem;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--abu);
}

#loading{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--std);
}

.page{
    display: none;
}

body{
    font-family: 'stdFont';
    font-size: 1.05rem;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--abu);
    background-color: var(--std);
}

/* Properti */
.w10{ width: 10%; }
.w20{ width: 20%; }
.w30{ width: 30%; }
.w40{ width: 40%; }
.w50{ width: 50%; }
.w60{ width: 60%; }
.w70{ width: 70%; }
.w80{ width: 80%; }
.w90{ width: 90%; }
.w100{ width: 100%; }

.bg-std{ background-color: var(--std); }
.bg-putih{ background-color: var(--putih); }
.bg-abu{ background-color: var(--abu); }
.bg-f5{ background-color: var(--f5); }

.br10{ border-radius: 10px; }
.br20{ border-radius: 20px; }


/* --------------- Auth */
.container-auth{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box{
    width: 600px;
    background-color: var(--putih);
    display: flex;
    align-content: space-between;
    overflow: hidden;
}

.auth-box {
    padding: 20px;
}

.auth-box div.ilustrasi{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth-box div.ilustrasi img {
    width: 200px;
}

.auth-box div form {
    padding: 20px;
}





/* Form */
form h1 {
    font-size: 18pt;
}

form span {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11pt;
    display: block;
}

.form-control {
    padding: 7px 0;
}

.form-control input{
    width: 100%;
    background: var(--f5);
    border: 0px;
    outline: none;
    padding: 9px 14px;
    border-radius: 3px;
}

.form-bottom {
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
}

.form-bottom button{
    background: var(--abu);
    border: 0px;
    outline: none;
    padding: 9px 22px;
    border-radius: 3px;
    color: var(--putih);
    cursor: pointer;
    font-size: 10pt;
    font-family: mediumFont;
}

.form-bottom button:hover{
    background: rgb(68, 68, 68, .9);
    cursor: pointer;
}

.form-bottom button.clear{
    background: none;
    border: 0px;
    outline: none;
    padding: 9px 22px;
    border-radius: 3px;
    color: var(--abu);
    cursor: pointer;
    font-size: 10pt;
    font-family: mediumFont;
}

.form-bottom button.clear:hover{
    cursor: pointer;
}


/* Message */
.msg_danger{
    background: var(--danger);
    display: block;
    color: var(--putih);
    padding: 9px 14px;
    transition: display 2s;
}

.msg_warning{
    background: var(--warning);
    display: block;
    color: var(--putih);
    padding: 9px 14px;
    transition: display 2s;
}

.msg_success{
    background: var(--success);
    display: block;
    color: var(--putih);
    padding: 9px 14px;
    transition: display 2s;
}